.btn-check:focus+.btn,
.btn,
.btn:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

:root {
    --main-color: #D4060E;
}

body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #2d2a2a;
    font-size: 14px;
}

.navbar button:active {
    outline: none !important;
    border: none !important;
}


/* Start Full Menu */

.full-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: rgba(212, 6, 14, 0.68);
    display: none;
}

.full-menu .close-btn {
    width: 58px;
    font-size: 20px;
    height: 58px;
    background: rgba(212, 6, 14, 0.3);
    transition: all 0.3s;
    position: absolute;
    left: 0;
}

.full-menu .close-btn:hover {
    width: 58px;
    height: 58px;
    background: rgba(212, 6, 14, 1);
    position: absolute;
    left: 0;
}


/* Start Top Bar */

.topbar {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}

.topbar select {
    background: none !important;
    border: none !important;
    color: rgba(30, 30, 30, 0.92);
    padding: 4px !important;
    padding-left: 5px !important;
    font-size: 14px;
    font-weight: 400;
}

.topbar a {
    font-weight: 500;
    font-size: 14px;
    color: rgba(30, 30, 30, 0.92);
    transition: all 0.3s;
}

.topbar a:hover {
    color: rgba(30, 30, 30, 1);
}


/* End Top Bar */


/* Start Nav Bar */

.navbar.sticky-top {
    transition: .2s ease !important;
}

.navbar.sticky-top.scrolled {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.navbar .nav-item .nav-link {
    font-size: 15px;
    color: #2d2a2a;
    font-weight: 400;
    transition: all 0.3s;
}

.navbar .nav-item .nav-link i {
    transition: all 0.3s;
}

.navbar .nav-item .nav-link:hover {
    color: var(--main-color);
}

.navbar .nav-item .nav-link:hover i {
    color: var(--main-color);
}

.navbar .nav-item .nav-link i.fa-angle-down {
    font-size: 13px;
    color: #2d2a2a74;
    font-weight: 400;
}

.navbar .nav-item .nav-link i {
    font-size: 21px;
    color: #2d2a2a;
    font-weight: 400;
}

.dropdown-toggle::after {
    display: none;
}

.cart-basket {
    font-size: .9rem;
    position: absolute;
    top: 2px;
    right: 5px;
    width: 18px;
    height: 18px;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 50%;
}

.navbar form.search {
    display: none;
}


/* End Nav Bar */


/* Start Categories */

.categorie-item img {
    object-fit: cover;
    height: 190px;
}


/* Start Popular Products */

.product-item img {
    object-fit: cover;
    height: 276px;
}

.owl-dot span {
    background-color: rgba(212, 6, 14, 0.27) !important;
}

.owl-dot.active span {
    background-color: var(--main-color) !important;
}

.product-item div p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-item.shadow-sm:hover {
    box-shadow: 0 .24rem .85rem rgba(0, 0, 0, .17)!important;
}

.product-item p {
    color: #2d2a2a !important;
}


/* End Categories */


/*************************************
*************************************
Start Categorie Page 
/************************************************/


/************************************************/


/* Start Nav */

#catpage .nav .nav-item .nav-link {
    color: #5c5858;
    font-size: 14px;
    transition: ease-out .1s;
}

#catpage .nav .nav-item .nav-link:hover {
    color: var(--main-color);
}

#catpage .nav .nav-item .nav-link.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#catpage .title h1 {
    font-weight: 400;
    font-size: 40px;
}


/* End Nav */


/*************************************
*************************************
End Categorie Page 
/************************************************/


/************************************************/


/*************************************
*************************************
Start Product Page 
/************************************************/


/************************************************/

#productpage .product .product-route a {
    text-decoration: none;
    opacity: 0.54;
    transition: ease-in 0.1s;
}

#productpage .product .product-route a:hover {
    text-decoration: none;
    opacity: 1;
}

#productpage .product .product-route a:last-child {
    text-decoration: none;
    opacity: 1;
}


/*************************************
*************************************
End Product Page 
/************************************************/


/************************************************/


/* Start Classes */

.my-primary-bg {
    background-color: var(--main-color) !important;
}

.my-primary-color {
    color: var(--main-color) !important;
}

a {
    text-decoration: none !important;
}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    .navbar,
    .topbar {
        display: none;
    }
}

.topbar {
    display: none;
}